.navbar-container .nav-item .nav-link {
    color: #111111;
    font-size: 18px;
  }
  .navbar-container .nav-item .nav-link:hover,
  .navbar-container .nav-item .nav-link:active,
  .navbar-container .nav-item .nav-link:focus {
    color:  #111111;
  }
  .logo {
    height: 50px;
    filter: brightness(1000%);
  }
  .nav-item .loginBtn {
    
    background-color:  #FF6E40;
    padding: 6px 22px !important;
    width: 120px;
    text-align: center;
    border-radius: 30px;
  }

  .bookBtn {
    padding: 10px 30px;
    background-color: #FF6E40;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  